version: "3.9"

services:
  db:
    image: postgres:15
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: "${DB_USER}"
      POSTGRES_PASSWORD: "${DB_PASSWORD}"
      POSTGRES_DB: "${DB_NAME}"
    ports:
      - "${DB_PORT}:${DB_PORT}"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
      interval: 5s
      retries: 5
    networks:
      - api-network
    env_file:
      - .env

  migrate:
    image: migrate/migrate:v4.15.2
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - ./backend/db/migrations:/migrations
    command: [
      "-path", "/migrations",
      "-database", "postgres://${DB_USER}:${DB_PASSWORD}@db:${DB_PORT}/${DB_NAME}?sslmode=disable",
      "up"
    ]
    networks:
      - api-network
    env_file:
      - .env

  api:
    build:
      context: ./backend
      dockerfile: build/service/Dockerfile
    container_name: myapp_api
    depends_on:
      db:
        condition: service_healthy
      migrate:
        condition: service_completed_successfully
    ports:
      - "${API_PORT}:${API_PORT}"
    networks:
      - api-network
    environment:
      DB_SOURCE: "postgresql://${DB_USER}:${DB_PASSWORD}@db:${DB_PORT}/${DB_NAME}?sslmode=disable"
      API_PORT: "${API_PORT}"
    env_file:
      - .env

  client:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: myapp_client
    ports:
      - "3000:3000"
    environment:
      REACT_APP_API_URL: "http://api:${API_PORT}"
    depends_on:
      - api
    networks:
      - api-network
    env_file:
      - .env

  manager:
    build:
      context: ./frontend-manager
      dockerfile: Dockerfile
    container_name: myapp_manager
    ports:
      - "3001:3001"
    environment:
      REACT_APP_API_URL: "http://api:${API_PORT}"
    depends_on:
      - api
    networks:
      - api-network
    env_file:
      - .env

  pgadmin:
    image: dpage/pgadmin4:8
    container_name: pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: "${PGADMIN_EMAIL}"
      PGADMIN_DEFAULT_PASSWORD: "${PGADMIN_PASSWORD}"
    ports:
      - "5050:80"
    depends_on:
      - db
    networks:
      - api-network

networks:
  api-network:

volumes:
  pgdata:
